<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>All the Posts!</title>
    <style>

    </style>
    <base href="./">
</head>

<body>

<h1>Ervas, Especiarias e Temperos Compostos </h1>

<p>Indíce:</p>

<ul>
    {{ range .Site.RegularPages }}
    <li><a href="#{{ substr .RelPermalink 1 -1 }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
<div style="break-after:page"></div>
{{ range .Site.RegularPages }}
<div style="break-after:page">
    <h1 id="{{ substr .RelPermalink 1 -1 }}">{{ .Title }}</h1>
    {{ .Content }}
</div>
{{ end }}
</body>
</html>